@{
    ViewData["Title"] = "Property";
}
<h1>Properties</h1>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Homes</h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img style="cursor:pointer;height:160px;width:100%"
                 src="https://images.unsplash.com/photo-1556955112-28cde3817b0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />

            <div class="caption">
                <h5>House Name</h5>
                <p>£250,000</p>
                <p>4 Bedrooms</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
</div>
