/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

Provide sufficient contrast against white background
a {
    color: #0366d6;
 }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

 Sticky footer styles
-------------------------------------------------- 
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

 Sticky footer styles
-------------------------------------------------- 
html {
    position: relative;
    min-height: 100%;
}

body {
     Margin bottom by footer height 
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;  Vertically center the text there 
}

.product-item {
    position: relative;
}

    .product-item .caption h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border-top: 2px solid #333;
        margin-top: 10px;
        padding-top: 10px;
    }

    .product-item .caption .product-item-price {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }


    .product-item .product-item-badge {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 5px 12px 6px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        background: #333;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        -o-border-image: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }*/

/**/

body {
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    background: #fff;
    overflow-x: hidden;
    scrollbar-face-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}



.product-item {
    position: relative;
}

    .product-item .caption h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border-top: 2px solid #333;
        margin-top: 10px;
        padding-top: 10px;
    }

    .product-item .caption .product-item-price {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }


    .product-item .product-item-badge {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 5px 12px 6px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        background: #333;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }


